{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">

    </style>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/addemp.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/addemp.css' %}">
</head>

<body>
    {% block content %}
    <div class="head">
        <h1>ADD EMPLOYEES DETAILS</h1>
    </div>
    <div class="wrapper fadeInDown">
        <div class="form-container">

            <button id="backview">BackToList</button>
            <form action="">

                <br>
                <br>
                <input type="text" id="first_name" placeholder="first name">
                <br>
                <br>
                <input type="text" id="last_name" placeholder="last name">
                <br>
                <br>
                <input type="text" id="username" placeholder="user name">
                <br>
                <br>
                <input type="date" id="date_of_birth" placeholder="dob">
                <select name="gender" id="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="U">Unisex/parody</option>
                </select>
                <br>
                <br>
                <input type="email_address" id="email_address" placeholder="email">
                <input type="tel" id="contact_number" pattern="[0-9]{10}" required placeholder="contact number">
                <br>
                <br>
                <input type="text" id="address_line_1" placeholder="address1">
                <input type="text" id="address_line_2" placeholder="address2">
                <br>
                <br>
                <input type="text" id="city" placeholder="city">
                <input type="text" id="country" placeholder="country">
                <br>
                <br>
                <input type="text" id="pincode" placeholder="pincode">

                <br>
                <br>

                <input type="checkbox" id="deleted" placeholder="deleted">
                <br>
            </form>
            <p/>
            <button id="add" onclick="addCourse()">Add</button>

            <p/>

        </div>
    </div>
    {% endblock %}
</body>

</html>