<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        var URL = "classproduct/";



        function addCourse() {
            $.ajax({
                "url": URL,
                "data": {
                    "first_name": $("#first_name").val(),
                    "last_name": $("#last_name").val(),
                    "username": $("#username").val(),
                    "date_of_birth": $("#date_of_birth").val(),
                    "gender": $("#gender").val(),
                    "email_address": $("#email_address").val(),
                    "contact_number": $("#contact_number").val(),
                    "address_line_1": $("#address_line_1").val(),
                    "address_line_2": $("#address_line_2").val(),
                    "city": $("#city").val(),
                    "country": $("#country").val(),
                    "pincode": $("#pincode").val(),
                    "deleted": $("#deleted").val()
                },
                "type": "post",
                "success": add_success,
                "error": add_error
            }); // ajax()
        }

        function add_success() {
            alert("Added course Successfully");
        }

        function add_error() {
            alert("Could not add course!");
        }
    </script>
</head>

<body>
    <center>
        <p/>
        <!-- <br>
        <input type="number" id="id"> -->
        <br> first_name:
        <br>
        <input type="text" id="first_name">
        <br> last_name:
        <br>
        <input type="text" id="last_name">
        <br> UserName:
        <br>
        <input type="text" id="username">
        <br> date_of_birth:
        <br>
        <input type="date" id="date_of_birth">
        <br> gender
        <br>
        <select name="gender" id="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="U">Unisex/parody</option>
            </select>
        <br> email_address:
        <br>
        <input type="email_address" id="email_address">
        <br> contact_number Number:
        <br>
        <input type="tel" id="contact_number" pattern="[0-9]{10}" required>
        <br> address1
        <br>
        <input type="text" id="address_line_1">
        <br> address2
        <br>
        <input type="text" id="address_line_2">
        <br> city
        <br>
        <input type="text" id="city">
        <br> country
        <br>
        <input type="text" id="country">
        <br> pincode
        <br>
        <input type="text" id="pincode">

        <br> Deleted
        <br>

        <input type="checkbox" id="deleted">
        <br>
        <p/>
        <button onclick="addCourse()">Add</button>
        <p/>
    </center>
</body>

</html>