{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/showemp.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/showemp.css' %}">
    <link rel="stylesheet" href="{% static 'css/update.css' %}">

</head>

<body>
    {% block content %}

    <div class="logout">
        <span>
            <a class="hello-msg" href="{% url 'logout' %}">Logout</a>
        </span>
    </div>
    <div class="employee-table">


        <div class="head">
            <h1>Employee Management System</h1>
        </div>
        <div class="container ">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Email Address</th>
                        <th>Contact Number</th>
                        <th>Deleted</th>
                    </tr>
                </thead>
                <tbody id="courserows"></tbody>
                </tbody>
            </table>
            <div>
                {% if request.user.is_superuser %}
                <button id="adding">ADD</button> {% else %} {% endif %}

            </div>

        </div>
    </div>
    <div class="update-form">
        <div class="head">
            <h1>UPDATE EMPLOYEES DETAILS</h1>
        </div>
        <div class="form-allign">
            <form action="" class="update-employee" method="post">
                {% csrf_token %}
                <br>
                <label type="number" id="id" placeholder="id"></label>
                <br>
                <br>
                <input type="text" id="first_name" placeholder="first name">
                <input type="text" id="last_name" placeholder="last name">
                <br>
                <br>
                <input type="text" id="username" placeholder="user name">
                <br>
                <br>
                <input type="date" id="date_of_birth" placeholder="dob">
                <select name="gender" id="gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="U">Unisex/parody</option>
                </select>
                <br>
                <br>
                <input type="email_address" id="email_address" placeholder="email">
                <input type="tel" id="contact_number" pattern="[0-9]{10}" required placeholder="contact number">
                <br>
                <br>
                <input type="text" id="addressdetails" placeholder="addressdetails id">
                <br>
                <br>
                <input type="text" id="address_line_1" placeholder="address1">
                <input type="text" id="address_line_2" placeholder="address2">
                <br>
                <br>
                <input type="text" id="city" placeholder="city">
                <input type="text" id="country" placeholder="country">
                <br>
                <br>
                <input type="text" id="pincode" placeholder="pincode">
                <br>
                <p/>
                <button id="back-update">BACK</button>
                <button id="update-butt" class="update-inner" onclick="updateCourse()">Update</button>
                <p/>
            </form>
        </div>
    </div>
    {% endblock %}
</body>

</html>