{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/update.js' %}"></script>
    <script src="{% static 'js/showemp.js' %}"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    <link rel="stylesheet" href="{% static 'css/update.css' %}">

</head>

<body>
    {% block content %}
    <div class="head">
        <h1>UPDATE EMPLOYEES DETAILS</h1>
    </div>
    <div class="form-container">
        <br>

        <input type="number" id="id" placeholder="id">
        <br>
        <br>

        <input type="text" id="first_name" placeholder="first name">

        <input type="text" id="last_name" placeholder="last name">
        <br>
        <br>

        <input type="text" id="username" placeholder="user name">
        <br>
        <br>

        <input type="date" id="date_of_birth" placeholder="dob">

        <select name="gender" id="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="U">Unisex/parody</option>
            </select>
        <br>
        <br>

        <input type="email_address" id="email_address" placeholder="email">

        <input type="tel" id="contact_number" pattern="[0-9]{10}" required placeholder="contact number">
        <br>
        <br>

        <input type="text" id="addressdetails" placeholder="addressdetails id">
        <br>
        <br>

        <input type="text" id="address_line_1" placeholder="address1">
        <input type="text" id="address_line_2" placeholder="address2">
        <br>
        <br>

        <input type="text" id="city" placeholder="city">
        <input type="text" id="country" placeholder="country">
        <br>
        <br>
        <input type="text" id="pincode" placeholder="pincode">


        <br>
        <p/>
        <button onclick="addCourse()">Add</button>
        <button onclick="getCourse()">Details</button>
        <button onclick="updateCourse()">Update</button>
        <p/>
    </div>
    {% endblock %}
</body>

</html>