{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
    <script src="{% static 'js/user_login.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/user_login.css' %}">
</head>

<body>
    {% block content %}
    <div id="formContent">
        <form class="forms" method="POST">
            {% csrf_token %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
            <p>{{error}}</p>
            {% endfor %} {% endif %} {% for fm in form %} {{fm.label_tag}}
            <div>{{fm}}</div>
            {{fm.errors|striptags}}
            <br>
            <br> {% endfor %}
            <input type="submit" onclick=login() class="fadeIn fourth" value="Log In">
            <div><a href="{% url 'signup' %}">Signup?</a></div>

        </form>

    </div>
    {% endblock %}
</body>

</html>